GO_AUTORUN=1
GO_AUTORUN_INTERVAL_MIN=5
GO_AUTORUN_CHANNEL_ID=000000000000000000
GO_AUTORUN_MAX_SCAN=30
GO_AUTORUN_MAX_POST=3
GO_AUTORUN_MIN_ATR_PCT=0.2
GO_AUTORUN_MAX_CHOP=65
GO_AUTORUN_MIN_BB_WIDTH=0.8
GO_AUTORUN_STYLE=day
GO_AUTORUN_RISK=defensive
